<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="styles/styles.css" />

  <script type="module" src="scripts/app.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>My First Web App</title>
</head>

<body>
  <main>

    <header> 

      <img src="assets/j.png" width=250px id="nivia"> 
  
    </header>

    <nav>
     <a href="index.ejs">| Purani Dilli</a> 
     <a href="lakes.ejs">| Bangalore Lakes</a> 
     <a href="demo.ejs">| About Me</a> 
     <a href="demo.ejs">| Home </a> 
    </nav>

    <section>
        <img src="assets/for_web_1.png" id="lake"> 
    </section>

    <section class="black-bg">
        <container>
            <p class="grey-fillet">
                hello hello hello hello 
                hello hello hello hello
                hello hello hello hello
                hello hello hello hello
                hello hello hello hello
                hello hello hello hello v
            </p>
        </container>

    </section>
    

    <article>
  
          <!-- scrolly -->
          <section id="doge-scrolly">
  
            <!-- define the scroll sections -->
            <% const blocks=
             [
               {
                 "filename" : "scrolly_1",
                 "anno" : "The dogefathers"
               },
               {
                "filename" : "scrolly_2",
                "anno" : "Such doge Much wow"
               }
             ]
            %>
  
            <!-- include the component -->
            <%- include('./scrolly/scrolly.ejs',{id:"doge-scrolly", blocks: blocks }); %>
          </section>
      </article>


  </main>

</body>

</html>