<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="styles/styles.css" />

  <script type="module" src="scripts/app.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>My First Web App</title>
</head>

<body>
  <main>

    <header> 

      <img src="assets/j.png" width=250px id="nivia"> 
  
    </header>

    <nav>
     <a href="index.ejs">| Purani Dilli</a> 
     <a href="lakes.ejs">| Bangalore Lakes</a> 
     <a href="demo.ejs">| About Me</a> 
     <a href="demo.ejs">| Home </a> 
    </nav>

    <section>
        <img src="assets/for_web_1.png" id="lake"> 
    </section>

    <section class="black-bg">
        <container>
          <p class="grey-fillet">
            Bangalore the Silicon Valley of India has witnessed some unprecedented growth in the last couple of decades.
            the more popularly known as the start up capital of India is a land of opportunities for many. This land is today home to
            more than 45 lac migrants constituting more than 50% of the urban population of Bangalore. 
          </p>

          <img src="assets/frame-1.png" class="lake">

          <p class="grey-fillet">
            With the increase in urban population & the growing demand for housing ,Bangalore has seen rapid urbanization & urban sprawl.More than 100 villages close to Bangalore have disappeared. Greenfield construction has taken over more than x acres of farm land. 
          </p>

          <img src="assets/frame-2.png" class="lake">

          <p class="grey-fillet">
            As a result of this uncontrolled population rise & rapid urbanization,there has been a major ecological. impact on the city.To cater of the growing demand of housing,is not just the green fields that have been compromised but also the lakes of Bangalore which have been encroached, depleted, polluted & killed. 
            The city of lakes is now to be known as the city of dying lakes as the city which once boasted of a 1000 lakes is now home to less than 100. Bengaluru has lost as much as 450 acres of wetland from 42 prominent lake areas in the last 20 years and one thouand acres have been eutrophicated, a study has revealed. According to the recent study by a city based researcher, out of the 42 lakes, 41 have been encroached with an average reduction of 10.33% in the physical area. Bellandur and Varthur lakes have witnessed the highest decline in area sue to the encroachment. The lakes that still exist are also being affected by silting, frothing, eutrophication and encroachent. While the water resources of the city are drying up the need of drinkable water in the city is growing exponentially with the growing population and housing needs.
          </p>


        </container>

    </section>
    

    <article>
  
          <!-- scrolly -->
          <section id="doge-scrolly">
  
            <!-- define the scroll sections -->
            <% const blocks=
             [
               {
                 "filename" : "for-lakes",
                 "anno" : "20 years ago the lake landscape of Bangalore looked like this with 42 of its promiment lakes."
               },
               {
                "filename" : "for-lakes-2",
                "anno" : "After 20 years, Bangalore has lost as much as 450 acres of wetland from 42 prominent lake area and a thousand acres have been eutrophicated."
               }
             ]
            %>
  
            <!-- include the component -->
            <%- include('./scrolly/scrollylake.ejs',{id:"doge-scrolly", blocks: blocks }); %>
          </section>
      </article>

      <container>
        <p class="grey-fillet">
          Resources - <br> 
        </p>
        <ul>
          <li style="colour:white;"> https://bangaloremirror.indiatimes.com/bangalore/cover-story/caught-in-the-drain/articleshow/91270691.cms </li>
        </ul>


  </main>

</body>

</html>